.modal  {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  z-index: 1000;
  background-color: rgba(0, 0, 0, .8);

  &__body {
    position: absolute;
    left: 50%;
    top: 50%;

    width: 800px;
    margin: 0 40px;
    padding: 30px;

    transform: translate(-50%, -50%);

    background-color: #fff;
    border-radius: 10px;
  }

  &__close {
    position: absolute;
    top: 0;
    right: -30px;

    width: 20px;
    height: 20px;

    font-size: 20px;
    line-height: 20px;
    color: #fff;
    text-align: center;

    cursor: pointer;
  }
}